---
// Branded short link. Redirects to the about page which has newsletter signup.
// Used in book back-matter so you can change the destination without re-uploading books.
---
<html>
<head>
  <meta http-equiv="refresh" content="0; URL=/about#newsletter" />
  <title>Jason Krebs Newsletter</title>
  <link rel="canonical" href="/about" />
</head>
<body>
  <p><a href="/about#newsletter">Continue to the newsletter signup →</a></p>
</body>
</html>
